extends layout

block styles
  link(rel="stylesheet" href="css/gallery.css")
block content
  header
    h1 Animals Gallery
    nav
      ul
        li 
          a(href='#') One
        li 
          a(href='#') Two
        li
          a(href='#') Three
  main.gallery
block scripts
  script(src="js/app.js")