doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Animal Gallery
    link(rel="stylesheet" href="css/reset.css")
    link(rel="stylesheet" href="css/typography.css")
    link(rel="stylesheet" href="css/utilities.css")
    link(rel="stylesheet" href="css/gallery.css")
  body
    main.gallery
    script(src="js/app.js")