<header>
  <h1>Animal Gallery</h1>
  <nav>
    <ul>
      <li><a href="https://lorem.picsum/">Lorem Picsum</a></li>
      <li><a href="https://cprg210.github.io">Course Home</a></li>
    </ul>
  </nav>
</header>