<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gallery with forEach</title>
  <%- include('./partials/css-global'); %>
  <link rel="stylesheet" href="css/gallery.css">
</head>
<body>
  <%- include('./partials/header.ejs'); %>
  <main class="gallery">
    <!-- The gallery will go here. See the last line of JS to see how that happens. -->
  </main>
  <%- include('./partials/foot'); %>
  <%- include('./partials/gallery-js'); %>  
</body>
</html>