<header>
  <h1>Animal Gallery</h1>
  <nav>
    <ul>
      <li 
      <% if (currentPage == 'lorem') { %>
        class="current"
      <% } %>
      ><a href="https://lorem.picsum/">Lorem Picsum</a></li>
      <li
      <% if (currentPage == 'cprg210') { %>
        class="current"
      <% } %>
      ><a href="https://cprg210.github.io">Course Home</a></li>
    </ul>
  </nav>
</header>